In [1]:
import pandas as pd

hate_crime_file = "Resources/hate_crime.csv"
hate_crime_df = pd.read_csv(hate_crime_file,low_memory=False)

In [2]:
unfiltered_bias = list(hate_crime_df["BIAS_DESC"])
unique_bias = set()

for bias in unfiltered_bias:
    list_of_bias = bias.split(';')
    
    for split in list_of_bias:
        unique_bias.add(split)

In [3]:
religion = [ 'Anti-Atheism/Agnosticism',
 'Anti-Buddhist',
 'Anti-Catholic',
 'Anti-Eastern Orthodox (Russian, Greek, Other)',
 'Anti-Hindu',
 'Anti-Islamic (Muslim)',
 "Anti-Jehovah's Witness",
 'Anti-Jewish',
 'Anti-Mormon',
 'Anti-Multiple Religions, Group',
 'Anti-Other Christian',
 'Anti-Other Religion',
 'Anti-Protestant',
 'Anti-Sikh']

sexuality = [ 'Anti-Bisexual',
 'Anti-Gay (Male)',
 'Anti-Heterosexual',
 'Anti-Lesbian (Female)',
 'Anti-Lesbian, Gay, Bisexual, or Transgender (Mixed Group)']

gender = [ 'Anti-Female',
 'Anti-Gender Non-Conforming',
 'Anti-Lesbian, Gay, Bisexual, or Transgender (Mixed Group)',
 'Anti-Male',
 'Anti-Transgender']

race = ['Anti-American Indian or Alaska Native',
 'Anti-Arab',
 'Anti-Asian',
 'Anti-Black or African American',
 'Anti-Eastern Orthodox (Russian, Greek, Other)',
 'Anti-Hispanic or Latino',
 'Anti-Multiple Races, Group',
 'Anti-Native Hawaiian or Other Pacific Islander',
 'Anti-Other Race/Ethnicity/Ancestry',
 'Anti-White']

In [4]:
columns = ['INCIDENT_ID', 'DATA_YEAR', 'INCIDENT_DATE', 'PUB_AGENCY_NAME', 'AGENCY_TYPE_NAME',
           'STATE_ABBR', 'STATE_NAME', 'POPULATION_GROUP_DESC', 'TOTAL_OFFENDER_COUNT',
           'TOTAL_INDIVIDUAL_VICTIMS', 'LOCATION_NAME', 'BIAS_DESC', 'VICTIM_TYPES'
          ]

reduced_hate_crime_df = hate_crime_df.loc[:,  columns]

reduced_hate_crime_2009_df = reduced_hate_crime_df.loc[(reduced_hate_crime_df['DATA_YEAR'] == 2009)]
reduced_hate_crime_2017_df = reduced_hate_crime_df.loc[(reduced_hate_crime_df['DATA_YEAR'] == 2017)]

hate_crimes_2009 = list(reduced_hate_crime_2009_df['BIAS_DESC'])
hate_crimes_2017 = list(reduced_hate_crime_2017_df['BIAS_DESC'])

# filtering hate crime data for 2009
religion_count = 0
sexuality_count = 0
race_count = 0
gender_count = 0

for crime in hate_crimes_2009:
    for religion in religion:
        if religion in crime:
            religion_count = religion_count + 1
            
for crime in hate_crimes_2009:
    for sexuality in sexuality:
        if sexuality in crime:
            sexuality_count = sexuality_count + 1
            
for crime in hate_crimes_2009:
    for race in race:
        if race in crime:
            race_count = race_count + 1
            
for crime in hate_crimes_2009:
    for gender in gender:
        if gender in crime:
            gender_count = gender_count + 1
            
# filtering hate crime data for 2016
religion_count1 = 0
sexuality_count1 = 0
race_count1 = 0
gender_count1 = 0

for crime in hate_crimes_2017:
    for religion in religion:
        if religion in crime:
            religion_count1 = religion_count1 + 1
            
for crime in hate_crimes_2017:
    for sexuality in sexuality:
        if sexuality in crime:
            sexuality_count1 = sexuality_count1 + 1
            
for crime in hate_crimes_2017:
    for race in race:
        if race in crime:
            race_count1 = race_count1 + 1
            
for crime in hate_crimes_2017:
    for gender in gender:
        if gender in crime:
            gender_count1 = gender_count1 + 1

In [5]:
print(f"The number of race bias hate crimes in 2009 is {race_count} \nThe number of gender bias hate crimes in 2009 is {gender_count} \nThe number of religious bias hate crimes in 2009 is {religion_count} \nThe number of sexuality bias hate crimes in 2009 is {sexuality_count}")

The number of race bias hate crimes in 2009 is 5824
The number of gender bias hate crimes in 2009 is 3871
The number of religious bias hate crimes in 2009 is 1970
The number of sexuality bias hate crimes in 2009 is 1346

In [6]:
print(f"The number of race bias hate crimes in 2017 is {race_count1} \nThe number of gender bias hate crimes in 2017 is {gender_count1} \nThe number of religious bias hate crimes in 2017 is {religion_count1} \nThe number of sexuality bias hate crimes in 2017 is {sexuality_count1}")

The number of race bias hate crimes in 2017 is 6201
The number of gender bias hate crimes in 2017 is 4069
The number of religious bias hate crimes in 2017 is 2351
The number of sexuality bias hate crimes in 2017 is 1414

In [7]:
# intitaial observation: every type has gone up by at least 200

In [11]:
states = list(reduced_hate_crime_2009_df['STATE_NAME'].unique())
hate_crimes_2009 = list(reduced_hate_crime_2009_df['BIAS_DESC'])
reduced_hate_crime_2009_df = reduced_hate_crime_df.loc[(reduced_hate_crime_df['DATA_YEAR'] == 2009)]

state_by_state_count = []

for state in states:
    state_crime_data_2009 = reduced_hate_crime_df[(reduced_hate_crime_df['DATA_YEAR'] == 2009)&(reduced_hate_crime_2009_df['STATE_NAME']==state)]
    state_hate_crimes_2009 = list(state_crime_data_2009['BIAS_DESC'])
    
    total_count = len(state_hate_crimes_2009)
    religion_count = 0
    sexuality_count = 0
    race_count = 0
    gender_count = 0

    
    for crime in state_hate_crimes_2009:
        for religion in religion:
            if religion in crime:
                religion_count = religion_count + 1

    for crime in state_hate_crimes_2009:
        for sexuality in sexuality:
            if sexuality in crime:
                sexuality_count = sexuality_count + 1

    for crime in state_hate_crimes_2009:
        for race in race:
            if race in crime:
                race_count = race_count + 1

    for crime in state_hate_crimes_2009:
        for gender in gender:
            if gender in crime:
                gender_count = gender_count + 1
    
    crime_count = {
        'Gender Related Incidents':gender_count,
        'Sexuality Related Incidents':sexuality_count,
        'Religion Related Incidents':religion_count,
        'Race Related Incidents':race_count,
        'State':state,
        'Total Hate Crimes':total_count
    }
    
    state_by_state_count.append(crime_count)

In [12]:
# so this is a list of dictionaries with each dictionary 
# being the state and the count of each type of hate crime we're analyzing

# state_by_state_count

In [15]:
# making it into a df was much easier than expected
state_by_state_count_df = pd.DataFrame(state_by_state_count)

# the columns were in a weird order so I reordered them
state_by_state_count_df = state_by_state_count_df[['State','Race Related Incidents','Religion Related Incidents','Sexuality Related Incidents','Gender Related Incidents','Total Hate Crimes']].sort_values('Total Hate Crimes',ascending = False)

# here it is!  California is so full of hatred! lol
state_by_state_count_df

# ummm so the counts here are definitely weird as you can see

# there are way more different incidents than the actual number of hate crimes
# i dont know if this is a coding error or a consequence of allowing them
# to be double counted if it was a race and sexual hate crime.

# not one of the counts is even close... feel free to mess with this just make sure its on
# your local branch so we're not commiting a bunch of hoopla

,State,Race Related Incidents,Religion Related Incidents,Sexuality Related Incidents,Gender Related Incidents,Total Hate Crimes
4,California,893,281,232,647,1018
33,New York,579,318,125,240,641
30,New Jersey,507,244,67,274,549
18,Massachusetts,279,106,73,146,317
21,Michigan,284,88,71,183,315
34,Ohio,277,74,50,179,303
3,Arizona,169,55,47,127,219
5,Colorado,159,61,30,135,208
46,Washington,178,36,42,143,208
6,Connecticut,181,66,31,127,200
41,Tennessee,157,40,44,103,171
42,Texas,142,33,39,113,165
16,Kentucky,132,41,25,93,153
22,Minnesota,127,35,33,89,153
44,Virginia,142,39,18,99,150
36,Oregon,115,38,25,81,131
9,Florida,117,35,27,96,130
13,Illinois,116,36,22,72,129
23,Missouri,116,23,27,88,125
15,Kansas,106,32,19,86,122
39,South Carolina,93,32,19,68,109
27,North Carolina,89,16,18,75,103
19,Maryland,93,29,11,62,102
26,Nebraska,66,19,10,53,78
2,Arkansas,65,23,10,37,75
35,Oklahoma,52,6,14,39,60
14,Indiana,52,12,12,30,55
47,Wisconsin,44,10,8,37,54
20,Maine,46,9,14,29,50
43,Utah,36,18,7,37,49
32,Nevada,43,10,16,26,48
40,South Dakota,37,8,3,35,42
8,Delaware,33,13,3,21,37
7,District of Columbia,35,2,31,5,37
37,Pennsylvania,30,9,2,23,36
38,Rhode Island,30,13,14,13,35
12,Idaho,20,4,7,25,35
25,Montana,23,10,7,13,28
29,New Hampshire,22,4,5,16,25
48,West Virginia,23,9,3,13,25
45,Vermont,20,11,7,9,24
11,Iowa,15,3,4,12,17
31,New Mexico,14,4,5,8,15
28,North Dakota,13,2,2,11,14
17,Louisiana,12,3,3,8,13
10,Georgia,11,1,4,8,11
0,Alaska,9,1,2,7,9
1,Alabama,9,1,2,7,9
49,Wyoming,5,1,0,7,8
24,Mississippi,1,0,0,2,2