In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests

In [2]:
#!pip install census

In [3]:
hate_crime_csv = pd.read_csv("Resources/hate_crime.csv", low_memory=False)
hate_crime_df = pd.DataFrame(hate_crime_csv)
hate_crime_df.head()

,INCIDENT_ID,DATA_YEAR,ORI,PUB_AGENCY_NAME,PUB_AGENCY_UNIT,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,REGION_NAME,...,OFFENDER_RACE,OFFENDER_ETHNICITY,VICTIM_COUNT,OFFENSE_NAME,TOTAL_INDIVIDUAL_VICTIMS,LOCATION_NAME,BIAS_DESC,VICTIM_TYPES,MULTIPLE_OFFENSE,MULTIPLE_BIAS
0,3015,1991,AR0040200,Rogers,NaN,City,AR,Arkansas,West South Central,South,...,White,NaN,1,Intimidation,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-Black or African American,Individual,S,S
1,3016,1991,AR0290100,Hope,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,1,Simple Assault,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual,S,S
2,43,1991,AR0350100,Pine Bluff,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,1,Aggravated Assault,1.0,Residence/Home,Anti-Black or African American,Individual,S,S
3,44,1991,AR0350100,Pine Bluff,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,2,Aggravated Assault;Destruction/Damage/Vandalis...,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual,M,S
4,3017,1991,AR0350100,Pine Bluff,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,1,Aggravated Assault,1.0,Service/Gas Station,Anti-White,Individual,S,S

### Reduce DF to include only neccessary columns.

In [4]:
columns = ['INCIDENT_ID', 'DATA_YEAR', 'INCIDENT_DATE', 'PUB_AGENCY_NAME', 'AGENCY_TYPE_NAME',
           'STATE_ABBR', 'STATE_NAME', 'POPULATION_GROUP_DESC', 'TOTAL_OFFENDER_COUNT',
           'TOTAL_INDIVIDUAL_VICTIMS', 'LOCATION_NAME', 'BIAS_DESC', 'VICTIM_TYPES'
          ]

reduced_hate_crime_df = hate_crime_df.loc[:,  columns]

### Filter data: 2009 and 2017

In [5]:
# Filter DF for 2009 only.
reduced_hate_crime_2009_df = reduced_hate_crime_df.loc[(reduced_hate_crime_df['DATA_YEAR'] == 2009)]
reduced_hate_crime_2009_df.head()

,INCIDENT_ID,DATA_YEAR,INCIDENT_DATE,PUB_AGENCY_NAME,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,POPULATION_GROUP_DESC,TOTAL_OFFENDER_COUNT,TOTAL_INDIVIDUAL_VICTIMS,LOCATION_NAME,BIAS_DESC,VICTIM_TYPES
136964,141003,2009,17-Feb-09,Anchorage,City,AK,Alaska,"Cities from 250,000 thru 499,999",1,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-American Indian or Alaska Native,Individual
136965,141004,2009,30-Jun-09,Anchorage,City,AK,Alaska,"Cities from 250,000 thru 499,999",0,1.0,Residence/Home,"Anti-Lesbian, Gay, Bisexual, or Transgender (M...",Individual
136966,141005,2009,5-Aug-09,Anchorage,City,AK,Alaska,"Cities from 250,000 thru 499,999",2,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-American Indian or Alaska Native,Individual
136967,141006,2009,28-Aug-09,Anchorage,City,AK,Alaska,"Cities from 250,000 thru 499,999",3,4.0,Highway/Road/Alley/Street/Sidewalk,Anti-American Indian or Alaska Native,Individual
136968,141007,2009,28-Aug-09,Anchorage,City,AK,Alaska,"Cities from 250,000 thru 499,999",2,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-American Indian or Alaska Native,Individual

#### Need to add calculation for per 100,000 population.

In [6]:
# Create new DF for 2009 from value counts. Total number of hate crimes committed per state.

states2009 = reduced_hate_crime_2009_df['STATE_NAME'].value_counts(sort=True)
state_hatecrime_2009_df = pd.DataFrame(states2009)
state_hatecrime_2009_df = state_hatecrime_2009_df.reset_index()
state_hatecrime_2009_df.columns = ['State', 'Hate Crimes Committed']
state_hatecrime_2009_df.head()

           State  Hate Crimes Committed
0     California                   1018
1       New York                    641
2     New Jersey                    549
3  Massachusetts                    317
4       Michigan                    315

In [7]:
# Census imports for 2012.

from census import Census
from us import states

# Census API Key
# Data not available for 2010 0r 2011.
from config import api_key
c = Census(api_key, year=2012)
#c.acs5.tables()

In [8]:
# Run Census Search to retrieve data on all states

census_data = c.acs5.get(("NAME", "B19301_001E", "B23025_005E", "B23025_002E",
                          "B17001_002E", "B17001_003E", "B17001_017E",
                          "B17001A_002E", "B17001B_002E", "B01003_001E",
                          "B02001_002E", "B02001_003E", "B15003_017E", "B15003_022E"), {'for': 'state:*'})

census_df = pd.DataFrame(census_data)

census_df = census_df.rename(columns={"B19301_001E": "Per Capita Income",
                                      "B23025_005E": "Unemployment Count",
                                      "B23025_002E": "Labor Force Size",
                                      "B17001_002E": "Poverty Count",
                                      "B17001_003E": "Poverty: Male",
                                      "B17001_017E": "Poverty: Female",
                                      "B17001A_002E": "Poverty: White",
                                      "B17001B_002E": "Poverty: Black",
                                      "B01003_001E": "Total Population",
                                      "B02001_002E": "Population: White",
                                      "B02001_003E": "Population: Black",
                                      "B15003_017E": "Education: High School",
                                      "B15003_022E": "Education: Bachelors",
                                      "NAME": "State", "state": "State Number"})

# Calculate & add in Poverty Rate (Poverty Count / Population)
census_df["Poverty Rate"] = 100 * \
    census_df["Poverty Count"].astype(
        int) / census_df["Total Population"].astype(int)

# Calculate & add in Unemployment Rate (Unemployment Count / Labor Force)
census_df["Unemployment Rate"] = 100 * \
    census_df["Unemployment Count"].astype(
        int) / census_df["Labor Force Size"].astype(int)

# Calculate and add share of population with at least a high school diploma.
census_df['Share of Population with HS Diploma'] = 1 - \
    census_df['Education: High School'].astype(
        int) / census_df['Total Population'].astype(int)

census_df = census_df[["State", "Total Population", "Per Capita Income", "Unemployment Rate",
                         "Poverty Rate", "Share of Population with HS Diploma"]]

census_df.head()

,State,Total Population,Per Capita Income,Unemployment Rate,Poverty Rate,Share of Population with HS Diploma
0,Alabama,4777326.0,23587.0,10.188838,17.631035,0.828741
1,Alaska,711139.0,32537.0,8.045603,9.369617,0.861117
2,Arizona,6410979.0,25571.0,9.711096,16.767891,0.867727
3,Arkansas,2916372.0,22007.0,8.521134,18.183860,0.808218
4,California,37325068.0,29551.0,10.942019,14.976798,0.880476

In [ ]:
# Read in GINI index for 2009.
gini2009_csv = pd.read_csv('Resources/GINI2009.csv')

# Merge csv with census DF on State.
census_df = pd.merge(census_df, gini2009_csv, how='left', on='State')

# Merge Hate Crime DF with census DF.
clean_hate_crime_2009_df = pd.merge(census_df, state_hatecrime_2009_df, how="left", on="State")

In [ ]:
# Replace NaN values for states w/ no data (reported hate crimes) with 0.
# Hawaii is now the only stat w/ no data (reported hate crimes).
values = {'Hate Crimes Committed': 0}
clean_hate_crime_2009_df = clean_hate_crime_2009_df.fillna(value=values)
#clean_hate_crime_2009_df

In [19]:
# Drop Puerto Rico from DF.
clean_hate_crime_2009_df = clean_hate_crime_2009_df.drop([51])
clean_hate_crime_2009_df

,State,Total Population,Per Capita Income,Unemployment Rate,Poverty Rate,Share of Population with HS Diploma,Gini Index,Hate Crimes Committed
0,Alabama,4777326.0,23587.0,10.188838,17.631035,0.828741,0.471,9.0
1,Alaska,711139.0,32537.0,8.045603,9.369617,0.861117,0.402,9.0
2,Arizona,6410979.0,25571.0,9.711096,16.767891,0.867727,0.451,219.0
3,Arkansas,2916372.0,22007.0,8.521134,18.183860,0.808218,0.461,75.0
4,California,37325068.0,29551.0,10.942019,14.976798,0.880476,0.467,1018.0
5,Colorado,5042853.0,31039.0,7.943789,12.569829,0.877578,0.453,208.0
6,Connecticut,3572213.0,37807.0,9.116630,9.647129,0.832210,0.480,200.0
7,Delaware,900131.0,29733.0,8.306160,11.182261,0.810472,0.434,37.0
8,District of Columbia,605759.0,45004.0,10.410046,17.433666,0.887934,0.532,37.0
9,Florida,18885152.0,26451.0,11.254820,15.287942,0.822082,0.469,130.0
10,Georgia,9714569.0,25309.0,10.558300,16.936130,0.845041,0.469,11.0
11,Hawaii,1362730.0,29227.0,6.351824,10.493715,0.823496,0.425,0.0
12,Idaho,1567803.0,22581.0,8.505314,14.772519,0.855509,0.421,35.0
13,Illinois,12823860.0,29519.0,9.879366,13.338145,0.843862,0.469,129.0
14,Indiana,6485530.0,24558.0,9.394887,14.295254,0.801392,0.434,55.0
15,Iowa,3047646.0,26545.0,5.551142,11.834380,0.807778,0.431,17.0
16,Kansas,2851183.0,26845.0,6.638647,12.824712,0.848229,0.444,122.0
17,Kentucky,4340167.0,23210.0,9.393331,18.005874,0.819074,0.464,153.0
18,Louisiana,4529605.0,24264.0,8.341179,18.130146,0.811739,0.473,13.0
19,Maine,1329084.0,26464.0,7.408771,12.914458,0.794593,0.432,50.0
20,Maryland,5785496.0,36056.0,7.711711,9.197414,0.845856,0.448,102.0
21,Massachusetts,6560595.0,35485.0,8.453433,10.643638,0.843351,0.468,317.0
22,Michigan,9897264.0,25547.0,12.574643,15.984438,0.822129,0.453,315.0
23,Minnesota,5313081.0,30656.0,7.019977,10.960401,0.840613,0.439,153.0
24,Mississippi,2967620.0,20670.0,10.512384,21.570551,0.842592,0.470,2.0
25,Missouri,5982413.0,25546.0,8.475720,14.526513,0.819898,0.450,125.0
26,Montana,990785.0,25002.0,6.869844,14.445011,0.827813,0.431,28.0
27,Nebraska,1827306.0,26523.0,5.543888,12.052935,0.836372,0.440,78.0
28,Nevada,2704204.0,27003.0,11.766053,14.022500,0.834301,0.433,48.0
29,New Hampshire,1317474.0,32758.0,6.564341,8.182325,0.825671,0.431,25.0
30,New Jersey,8793888.0,35928.0,9.488355,9.672161,0.819232,0.465,549.0
31,New Mexico,2055287.0,23749.0,9.010340,19.128180,0.857319,0.453,15.0
32,New York,19398125.0,32104.0,8.723823,14.508665,0.840683,0.502,641.0
33,North Carolina,9544249.0,25285.0,10.296895,16.381216,0.848322,0.464,103.0
34,North Dakota,676253.0,28700.0,3.317506,11.671667,0.845352,0.450,14.0
35,Ohio,11533561.0,25857.0,9.679727,14.943217,0.791618,0.453,303.0
36,Oklahoma,3749005.0,24046.0,6.686026,16.073545,0.826313,0.460,60.0
37,Oregon,3836628.0,26702.0,10.749610,15.223238,0.861161,0.443,131.0
38,Pennsylvania,12699589.0,28190.0,8.455969,12.633984,0.772799,0.460,36.0
39,Rhode Island,1052471.0,30005.0,9.476793,12.680824,0.845253,0.457,35.0
40,South Carolina,4630351.0,23906.0,10.911141,17.013570,0.827384,0.462,109.0
41,South Dakota,815871.0,25570.0,4.909060,13.276486,0.820752,0.452,42.0
42,Tennessee,6353226.0,24294.0,9.708965,16.826365,0.819509,0.467,171.0
43,Texas,25208897.0,25809.0,7.678847,16.939329,0.870610,0.474,165.0
44,Utah,2766233.0,23794.0,7.053087,11.913819,0.879675,0.414,49.0
45,Vermont,625498.0,28846.0,6.527425,11.096918,0.810247,0.428,24.0
46,Virginia,8014955.0,33326.0,6.710932,10.717864,0.856234,0.456,150.0
47,Washington,6738714.0,30661.0,8.800430,12.672448,0.867891,0.439,208.0
48,West Virginia,1850481.0,22482.0,7.868987,17.105066,0.760106,0.463,25.0
49,Wisconsin,5687219.0,27426.0,7.456504,12.147097,0.802171,0.432,54.0
50,Wyoming,562803.0,28858.0,5.055577,10.773930,0.835161,0.415,8.0

In [10]:
# Filter DF for 2017 only.
reduced_hate_crime_2017_df = reduced_hate_crime_df.loc[(reduced_hate_crime_df['DATA_YEAR'] == 2017)]
reduced_hate_crime_2017_df.head()

,INCIDENT_ID,DATA_YEAR,INCIDENT_DATE,PUB_AGENCY_NAME,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,POPULATION_GROUP_DESC,TOTAL_OFFENDER_COUNT,TOTAL_INDIVIDUAL_VICTIMS,LOCATION_NAME,BIAS_DESC,VICTIM_TYPES
186860,279156,2017,29-Oct-17,Anchorage,City,AK,Alaska,"Cities from 250,000 thru 499,999",1,1.0,Amusement Park,Anti-White,Individual
186861,194491,2017,22-Dec-17,Juneau,City,AK,Alaska,"Cities from 25,000 thru 49,999",1,1.0,Residence/Home,Anti-White,Individual
186862,194492,2017,24-Oct-17,Juneau,City,AK,Alaska,"Cities from 25,000 thru 49,999",0,NaN,School-College/University,"Anti-Multiple Races, Group",Government
186863,194686,2017,4-May-17,State Troopers,State Police,AK,Alaska,"Non-MSA counties 100,000 or over",0,NaN,Church/Synagogue/Temple/Mosque,Anti-Other Christian,Religious Organization
186864,280686,2017,31-Jan-17,Hoover,City,AL,Alabama,"Cities from 50,000 thru 99,000",0,1.0,Grocery/Supermarket,Anti-Hispanic or Latino,Individual

In [11]:
# Create new DF for 2017 from value counts. Total number of hate crimes committed per state.
states2017 = reduced_hate_crime_2017_df['STATE_NAME'].value_counts(sort=True)
state_hatecrime_2017_df = pd.DataFrame(states2017)
state_hatecrime_2017_df = state_hatecrime_2017_df.reset_index()
state_hatecrime_2017_df.columns = ['State', 'Hate Crimes Committed']
state_hatecrime_2017_df.head()

        State  Hate Crimes Committed
0  California                   1094
1    New York                    554
2  Washington                    511
3  New Jersey                    499
4    Michigan                    457

In [12]:
# Census imports for 2016.

c = Census(api_key, year=2016)

In [13]:
# Run Census Search to retrieve data on all states

census_data = c.acs5.get(("NAME", "B19301_001E", "B23025_005E", "B23025_002E",
                          "B17001_002E", "B17001_003E", "B17001_017E",
                          "B17001A_002E", "B17001B_002E", "B01003_001E",
                          "B02001_002E", "B02001_003E", "B15003_017E", "B15003_022E"), {'for': 'state:*'})

census_df = pd.DataFrame(census_data)

census_df = census_df.rename(columns={"B19301_001E": "Per Capita Income",
                                      "B23025_005E": "Unemployment Count",
                                      "B23025_002E": "Labor Force Size",
                                      "B17001_002E": "Poverty Count",
                                      "B17001_003E": "Poverty: Male",
                                      "B17001_017E": "Poverty: Female",
                                      "B17001A_002E": "Poverty: White",
                                      "B17001B_002E": "Poverty: Black",
                                      "B01003_001E": "Total Population",
                                      "B02001_002E": "Population: White",
                                      "B02001_003E": "Population: Black",
                                      "B15003_017E": "Education: High School",
                                      "B15003_022E": "Education: Bachelors",
                                      "NAME": "State", "state": "State Number"})

# Calculate & add in Poverty Rate (Poverty Count / Population)
census_df["Poverty Rate"] = 100 * \
    census_df["Poverty Count"].astype(
        int) / census_df["Total Population"].astype(int)

# Calculate & add in Unemployment Rate (Unemployment Count / Labor Force)
census_df["Unemployment Rate"] = 100 * \
    census_df["Unemployment Count"].astype(
        int) / census_df["Labor Force Size"].astype(int)

# Calculate and add share of population with at least a high school diploma.
census_df['Share of Population with HS Diploma'] = 1 - \
    census_df['Education: High School'].astype(
        int) / census_df['Total Population'].astype(int)

census_df = census_df[["State", "Total Population", "Per Capita Income", "Unemployment Rate",
                         "Poverty Rate", "Share of Population with HS Diploma"]]

census_df.head()

,State,Total Population,Per Capita Income,Unemployment Rate,Poverty Rate,Share of Population with HS Diploma
0,Alabama,4841164.0,24736.0,8.240621,17.943329,0.828924
1,Alaska,736855.0,34191.0,7.525813,9.883356,0.855916
2,Arizona,6728577.0,26686.0,7.943898,17.323663,0.866442
3,Arkansas,2968472.0,23401.0,6.831175,18.273071,0.810969
4,California,38654206.0,31458.0,8.682885,15.533257,0.878971

In [ ]:
# Read in GINI index for 2009.
gini2017_csv = pd.read_csv('Resources/GINI2017.csv')

# Merge csv with census DF on State.
census_df = pd.merge(census_df, gini2017_csv, how='left', on='State')

# Merge Hate Crime DF with census DF.
clean_hate_crime_2017_df = pd.merge(census_df, state_hatecrime_2017_df, how="left", on="State")
#clean_hate_crime_2017_df

In [ ]:
# Replace NaN values for states w/ no data (reported hate crimes) with 0.
# Hawaii is now the only stat w/ no data (reported hate crimes).
values = {'Hate Crimes Committed': 0}
clean_hate_crime_2017_df = clean_hate_crime_2017_df.fillna(value=values)
#clean_hate_crime_2017_df

In [21]:
# Drop Puerto Rico from DF.
clean_hate_crime_2017_df = clean_hate_crime_2017_df.drop([51])
clean_hate_crime_2017_df

,State,Total Population,Per Capita Income,Unemployment Rate,Poverty Rate,Share of Population with HS Diploma,Gini Index,Hate Crimes Committed
0,Alabama,4841164.0,24736.0,8.240621,17.943329,0.828924,0.4768,10.0
1,Alaska,736855.0,34191.0,7.525813,9.883356,0.855916,0.4241,4.0
2,Arizona,6728577.0,26686.0,7.943898,17.323663,0.866442,0.4668,264.0
3,Arkansas,2968472.0,23401.0,6.831175,18.273071,0.810969,0.4725,26.0
4,California,38654206.0,31458.0,8.682885,15.533257,0.878971,0.4866,1094.0
5,Colorado,5359295.0,33230.0,5.925914,11.903394,0.880710,0.4553,87.0
6,Connecticut,3588570.0,39906.0,7.920299,10.044781,0.834532,0.4943,114.0
7,Delaware,934695.0,31118.0,7.090883,11.709488,0.810710,0.4811,29.0
8,District of Columbia,659009.0,48781.0,8.654845,17.004320,0.891784,0.5281,194.0
9,Florida,19934451.0,27598.0,8.342520,15.747903,0.823600,0.4859,145.0
10,Georgia,10099320.0,26678.0,8.454824,17.297145,0.848645,0.4830,27.0
11,Hawaii,1413673.0,30970.0,5.223664,10.509998,0.824495,0.4455,0.0
12,Idaho,1635483.0,24280.0,6.179328,14.954909,0.856524,0.4478,42.0
13,Illinois,12851684.0,31502.0,8.147454,13.645924,0.846306,0.4818,84.0
14,Indiana,6589578.0,26117.0,6.901788,14.533465,0.808525,0.4497,98.0
15,Iowa,3106589.0,28872.0,4.524117,11.904632,0.815321,0.4381,10.0
16,Kansas,2898292.0,28478.0,5.248308,12.875238,0.854598,0.4539,77.0
17,Kentucky,4411989.0,24802.0,7.504868,18.226224,0.821654,0.4784,378.0
18,Louisiana,4645670.0,25515.0,7.619530,19.148368,0.811389,0.4935,42.0
19,Maine,1329923.0,28473.0,5.979644,13.113917,0.798509,0.4526,32.0
20,Maryland,5959902.0,37756.0,6.648982,9.678599,0.848169,0.4530,101.0
21,Massachusetts,6742143.0,38069.0,6.772892,10.988138,0.846865,0.4851,434.0
22,Michigan,9909600.0,27549.0,8.485464,15.894345,0.827432,0.4671,457.0
23,Minnesota,5450868.0,33225.0,4.841558,10.589066,0.848491,0.4516,146.0
24,Mississippi,2989192.0,21651.0,9.531017,21.596237,0.842068,0.4790,49.0
25,Missouri,6059651.0,27044.0,6.551272,14.815292,0.821929,0.4618,104.0
26,Montana,1023391.0,27309.0,5.611546,14.527878,0.828918,0.4539,21.0
27,Nebraska,1881259.0,28596.0,4.151699,12.067504,0.846636,0.4391,48.0
28,Nevada,2839172.0,27253.0,9.249311,14.696433,0.835818,0.4606,5.0
29,New Hampshire,1327503.0,35264.0,5.055863,8.262882,0.829949,0.4386,17.0
30,New Jersey,8915456.0,37538.0,7.848944,10.648261,0.824021,0.4794,499.0
31,New Mexico,2082669.0,24459.0,8.399931,20.493607,0.856498,0.4776,7.0
32,New York,19697457.0,34212.0,7.499932,15.065721,0.845127,0.5157,554.0
33,North Carolina,9940828.0,26779.0,8.176280,16.414166,0.852090,0.4763,166.0
34,North Dakota,736162.0,33107.0,2.724426,10.773987,0.846190,0.4546,15.0
35,Ohio,11586941.0,27800.0,7.237560,14.955103,0.797004,0.4642,386.0
36,Oklahoma,3875589.0,25628.0,5.916502,16.027370,0.826031,0.4658,28.0
37,Oregon,3982267.0,28822.0,8.056216,15.423953,0.866535,0.4593,148.0
38,Pennsylvania,12783977.0,30137.0,7.188064,12.889275,0.778543,0.4777,75.0
39,Rhode Island,1054491.0,31904.0,7.685731,13.291816,0.840807,0.4722,11.0
40,South Carolina,4834605.0,25521.0,8.259273,16.680204,0.830778,0.4795,88.0
41,South Dakota,851058.0,27516.0,4.087416,13.547843,0.827146,0.4488,15.0
42,Tennessee,6548009.0,26019.0,7.464436,16.801580,0.819724,0.4822,136.0
43,Texas,26956435.0,27828.0,6.371044,16.312643,0.869703,0.4781,187.0
44,Utah,2948427.0,25600.0,5.037693,11.491144,0.883336,0.4225,58.0
45,Vermont,626249.0,30663.0,4.956633,11.125447,0.816666,0.4525,34.0
46,Virginia,8310301.0,34967.0,5.799064,11.090621,0.861028,0.4674,188.0
47,Washington,7073146.0,32999.0,6.753284,12.487456,0.871189,0.4561,511.0
48,West Virginia,1846092.0,24002.0,7.534339,17.228827,0.763152,0.4686,38.0
49,Wisconsin,5754798.0,29253.0,5.496943,12.397863,0.809956,0.4467,47.0
50,Wyoming,583029.0,30139.0,4.859468,11.279370,0.840228,0.4326,4.0

## For BIAS_DESC

In [15]:
# Get list of all values in the BIAS_DESC column.

#reduced_hate_crime_df['BIAS_DESC'].values.tolist()

In [16]:
# Create new DF for type of hate crime.

#bias_type_df = pd.DataFrame(reduced_hate_crime_df['BIAS_DESC'].values.tolist(), columns=['Racially Motivated','Religiously Motivated', 'Sexually Motivated', 'Multiple',])