In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests

In [13]:
#!pip install census

Collecting census
  Using cached https://files.pythonhosted.org/packages/b5/b0/670e35ba347faefa4d39d359c303baf02f99db0a9f344b4a482c817fa7b6/census-0.8.13-py2.py3-none-any.whl
Requirement already satisfied: requests>=1.1.0 in c:\users\zgrin\anaconda3\lib\site-packages (from census) (2.21.0)
Requirement already satisfied: future in c:\users\zgrin\anaconda3\lib\site-packages (from census) (0.17.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\zgrin\anaconda3\lib\site-packages (from requests>=1.1.0->census) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\zgrin\anaconda3\lib\site-packages (from requests>=1.1.0->census) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\zgrin\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\zgrin\anaconda3\lib\site-packages (from requests>=1.1.0->census) (2018.11.29)
Installing collected packages: census
Successfully installed census-0.8.13

In [14]:
from census import Census

# Census API Key
from config import api_key
c = Census(api_key, year=2013)

In [2]:
hate_crime_csv = pd.read_csv("Resources/hate_crime.csv", low_memory=False)
hate_crime_df = pd.DataFrame(hate_crime_csv)
hate_crime_df.tail()

,INCIDENT_ID,DATA_YEAR,ORI,PUB_AGENCY_NAME,PUB_AGENCY_UNIT,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,REGION_NAME,...,OFFENDER_RACE,OFFENDER_ETHNICITY,VICTIM_COUNT,OFFENSE_NAME,TOTAL_INDIVIDUAL_VICTIMS,LOCATION_NAME,BIAS_DESC,VICTIM_TYPES,MULTIPLE_OFFENSE,MULTIPLE_BIAS
194189,308074,2017,WV0540100,Parkersburg,NaN,City,WV,West Virginia,South Atlantic,South,...,White,Unknown,2,Destruction/Damage/Vandalism of Property;Weapo...,1.0,Parking/Drop Lot/Garage,Anti-Black or African American,Individual;Society/Public,M,S
194190,190213,2017,WY0010100,Laramie,NaN,City,WY,Wyoming,Mountain,West,...,Unknown,Unknown,1,Destruction/Damage/Vandalism of Property,NaN,Church/Synagogue/Temple/Mosque,Anti-Protestant,Religious Organization,S,S
194191,193399,2017,WY0010100,Laramie,NaN,City,WY,Wyoming,Mountain,West,...,Unknown,Unknown,1,Destruction/Damage/Vandalism of Property,NaN,Restaurant,"Anti-Lesbian, Gay, Bisexual, or Transgender (M...",Business,S,S
194192,194469,2017,WY0010200,University of Wyoming,NaN,University or College,WY,Wyoming,Mountain,West,...,Multiple,Multiple,1,Intimidation,20.0,Highway/Road/Alley/Street/Sidewalk,Anti-American Indian or Alaska Native,Individual,S,S
194193,192225,2017,WY0170100,Sheridan,NaN,City,WY,Wyoming,Mountain,West,...,White,Unknown,1,Simple Assault,1.0,Bar/Nightclub,Anti-Gay (Male),Individual,S,S

### Reduce DF to include only neccessary columns.

In [3]:
columns = ['INCIDENT_ID', 'DATA_YEAR', 'INCIDENT_DATE', 'PUB_AGENCY_NAME', 'AGENCY_TYPE_NAME',
           'STATE_ABBR', 'STATE_NAME', 'POPULATION_GROUP_DESC', 'TOTAL_OFFENDER_COUNT',
           'TOTAL_INDIVIDUAL_VICTIMS', 'LOCATION_NAME', 'BIAS_DESC', 'VICTIM_TYPES'
          ]

reduced_hate_crime_df = hate_crime_df.loc[:,  columns]
reduced_hate_crime_df.head()

,INCIDENT_ID,DATA_YEAR,INCIDENT_DATE,PUB_AGENCY_NAME,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,POPULATION_GROUP_DESC,TOTAL_OFFENDER_COUNT,TOTAL_INDIVIDUAL_VICTIMS,LOCATION_NAME,BIAS_DESC,VICTIM_TYPES
0,3015,1991,31-Aug-91,Rogers,City,AR,Arkansas,"Cities from 10,000 thru 24,999",1,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-Black or African American,Individual
1,3016,1991,19-Sep-91,Hope,City,AR,Arkansas,"Cities from 2,500 thru 9,999",1,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual
2,43,1991,4-Jul-91,Pine Bluff,City,AR,Arkansas,"Cities from 50,000 thru 99,000",1,1.0,Residence/Home,Anti-Black or African American,Individual
3,44,1991,24-Dec-91,Pine Bluff,City,AR,Arkansas,"Cities from 50,000 thru 99,000",1,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual
4,3017,1991,23-Dec-91,Pine Bluff,City,AR,Arkansas,"Cities from 50,000 thru 99,000",1,1.0,Service/Gas Station,Anti-White,Individual

### Filter data: 2009 and 2017

In [ ]:
#reduced_hate_crime_df.dtypes

In [4]:
# Filter DF for 2009 only.
reduced_hate_crime_2009_df = reduced_hate_crime_df.loc[(reduced_hate_crime_df['DATA_YEAR'] == 2009)]
reduced_hate_crime_2009_df.head()

,INCIDENT_ID,DATA_YEAR,INCIDENT_DATE,PUB_AGENCY_NAME,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,POPULATION_GROUP_DESC,TOTAL_OFFENDER_COUNT,TOTAL_INDIVIDUAL_VICTIMS,LOCATION_NAME,BIAS_DESC,VICTIM_TYPES
136964,141003,2009,17-Feb-09,Anchorage,City,AK,Alaska,"Cities from 250,000 thru 499,999",1,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-American Indian or Alaska Native,Individual
136965,141004,2009,30-Jun-09,Anchorage,City,AK,Alaska,"Cities from 250,000 thru 499,999",0,1.0,Residence/Home,"Anti-Lesbian, Gay, Bisexual, or Transgender (M...",Individual
136966,141005,2009,5-Aug-09,Anchorage,City,AK,Alaska,"Cities from 250,000 thru 499,999",2,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-American Indian or Alaska Native,Individual
136967,141006,2009,28-Aug-09,Anchorage,City,AK,Alaska,"Cities from 250,000 thru 499,999",3,4.0,Highway/Road/Alley/Street/Sidewalk,Anti-American Indian or Alaska Native,Individual
136968,141007,2009,28-Aug-09,Anchorage,City,AK,Alaska,"Cities from 250,000 thru 499,999",2,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-American Indian or Alaska Native,Individual

In [17]:
# Create new DF for 2009 from value counts. Total number of hate crimes committed per state.
states2009 = reduced_hate_crime_2009_df['STATE_ABBR'].value_counts(sort=True)
state_hatecrime_2009_df = pd.DataFrame(states2009)
state_hatecrime_2009_df = state_hatecrime_2009_df.reset_index()
state_hatecrime_2009_df.columns = ['STATE_ABBR', 'Hate_Crimes_Committed']
state_hatecrime_2009_df.head()

  STATE_ABBR  Hate_Crimes_Committed
0         CA                   1018
1         NY                    641
2         NJ                    549
3         MA                    317
4         MI                    315

In [5]:
# Filter DF for 2017 only.
reduced_hate_crime_2017_df = reduced_hate_crime_df.loc[(reduced_hate_crime_df['DATA_YEAR'] == 2017)]
reduced_hate_crime_2017_df.head()

,INCIDENT_ID,DATA_YEAR,INCIDENT_DATE,PUB_AGENCY_NAME,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,POPULATION_GROUP_DESC,TOTAL_OFFENDER_COUNT,TOTAL_INDIVIDUAL_VICTIMS,LOCATION_NAME,BIAS_DESC,VICTIM_TYPES
186860,279156,2017,29-Oct-17,Anchorage,City,AK,Alaska,"Cities from 250,000 thru 499,999",1,1.0,Amusement Park,Anti-White,Individual
186861,194491,2017,22-Dec-17,Juneau,City,AK,Alaska,"Cities from 25,000 thru 49,999",1,1.0,Residence/Home,Anti-White,Individual
186862,194492,2017,24-Oct-17,Juneau,City,AK,Alaska,"Cities from 25,000 thru 49,999",0,NaN,School-College/University,"Anti-Multiple Races, Group",Government
186863,194686,2017,4-May-17,State Troopers,State Police,AK,Alaska,"Non-MSA counties 100,000 or over",0,NaN,Church/Synagogue/Temple/Mosque,Anti-Other Christian,Religious Organization
186864,280686,2017,31-Jan-17,Hoover,City,AL,Alabama,"Cities from 50,000 thru 99,000",0,1.0,Grocery/Supermarket,Anti-Hispanic or Latino,Individual

In [11]:
# Create new DF for 2017 from value counts. Total number of hate crimes committed per state.
states2017 = reduced_hate_crime_2017_df['STATE_ABBR'].value_counts(sort=True)
state_hatecrime_2017_df = pd.DataFrame(states2017)
state_hatecrime_2017_df = state_hatecrime_2017_df.reset_index()
state_hatecrime_2017_df.columns = ['STATE_ABBR', 'Hate_Crimes_Committed']
state_hatecrime_2017_df.head()

  STATE_ABBR  Hate_Crimes_Committed
0         CA                   1094
1         NY                    554
2         WA                    511
3         NJ                    499
4         MI                    457

## For BIAS_DESC

In [ ]:
# Get list of all values in the BIAS_DESC column.

#reduced_hate_crime_df['BIAS_DESC'].values.tolist()

In [ ]:
# Create new DF for type of hate crime.

#bias_type_df = pd.DataFrame(reduced_hate_crime_df['BIAS_DESC'].values.tolist(), columns=['Racially Motivated','Religiously Motivated', 'Sexually Motivated', 'Multiple',])